<img src="../public/assets/img/image_processing20200827-13093-iyvvnf.png">
<h1>Burgers!</h1>
<div class="row">
    <div id="notEaten" class="col-l-5 col-xl-5 col-md-5 col-s-5">
        <h2>Burgers that have not been devoured!</h2>

        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
                {{burger_name}}

                <button class="btn-devour btn-secondary" data-id="{{id}}" data-newdevoured="{{devoured}}">
                    {{#if devoured}}Eating Time!{{else}}Devour{{/if}}
                </button>

            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div id="eaten" class="col-l-5 col-xl-5 col-md-5 col-s-5">
        <h2>Burgers that have been devoured!</h2>


        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
                {{burger_name}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<div id="makeBurger" class="row">
    <h2>Add a Burger</h2>
    <form id="create-form">

        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="burger_name">
        </div>

        <!--<div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" id="devoured" checked>Devoured!<br>
        <input type="radio" name="devoured" value="0" id="uneaten"> Uneaten
    </div>-->

        <button type="submit" class="btn-secondary">Add Burger</button>
    </form>
</div>